/* --------------------- */
/* margin */
/* --------------------- */
.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

/* --------------------- */
/* font */
/* --------------------- */
.code-font {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}