/* --------------------- */
/* margin */
/* --------------------- */
.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

/* --------------------- */
/* font */
/* --------------------- */
.code-font {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* --------------------- */
/* button */
/* --------------------- */
.Btn {
    width: 140px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border: none !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089) !important;
    cursor: pointer !important;
    background-color: transparent !important;
}

.leftContainer {
    width: 60% !important;
    height: 100% !important;
    background-color: rgb(238, 0, 0) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px;
}

.leftContainer .like {
    color: white !important;
    font-weight: 600 !important;
}

.likeCount {
    width: 40% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: rgb(238, 0, 0) !important;
    font-weight: 600 !important;
    position: relative !important;
    background-color: white !important;
}

.likeCount::before {
    height: 8px !important;
    width: 8px !important;
    position: absolute !important;
    content: "" !important;
    background-color: rgb(255, 255, 255) !important;
    transform: rotate(45deg) !important;
    left: -4px !important;
}

.Btn:hover .leftContainer {
    background-color: rgb(219, 0, 0) !important;
}

.Btn:active .leftContainer {
    background-color: rgb(201, 0, 0) !important;
}

.Btn:active .leftContainer svg {
    transform: scale(1.15) !important;
    transform-origin: top !important;
}