/* --------------------- */
/* margin */
/* --------------------- */
.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

/* --------------------- */
/* font */
/* --------------------- */
.code-font {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* --------------------- */
/* like button */
/* --------------------- */
.Btn {
    width: 140px !important;
    height: 35px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border: none !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089) !important;
    cursor: pointer !important;
    background-color: transparent !important;
}

.leftContainer {
    width: 60% !important;
    height: 100% !important;
    background-color: rgb(238, 0, 0) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px;
}

.leftContainer .like {
    color: white !important;
    font-weight: 600 !important;
}

.likeCount {
    width: 40% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: rgb(238, 0, 0) !important;
    font-weight: 600 !important;
    position: relative !important;
    background-color: white !important;
}

.likeCount::before {
    height: 8px !important;
    width: 8px !important;
    position: absolute !important;
    content: "" !important;
    background-color: rgb(255, 255, 255) !important;
    transform: rotate(45deg) !important;
    left: -4px !important;
}

.Btn:hover .leftContainer {
    background-color: rgb(219, 0, 0) !important;
}

.Btn:active .leftContainer {
    background-color: rgb(201, 0, 0) !important;
}

.Btn:active .leftContainer svg {
    transform: scale(1.15) !important;
    transform-origin: top !important;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: 999;
}

#popup {
    display: none;
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 90%;
    max-width: 500px; /* 最大寬度為 500 像素 */
    animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 按鈕之間的上邊距 */
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
