<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include "_site_header.html" %}
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者回覆</title>
</head>
<body>
    <div>
        {% for feedback in data %}
            <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                <p><strong>User ID:</strong> {{ feedback[1] }}</p>
                <p><strong>Content:</strong> {{ feedback[3] }}</p>
                <p><a href="/reply_feedback?feedback_id={{ feedback[0] }}">Reply</a></p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
