<!DOCTYPE html>
<html lang="en">

<head>

    {% include "_site_header.html" %}
    <!-- 響應式網站 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boostrap 導入程式 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- css連結 -->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    {% include "nav_bar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <form id="competitionForm" action="/contest/create" method="post">
                            <h1><b>創建比賽</b></h1>
                            <div class="form">
                                <div class="mb-3">
                                    <label class="form-label">比賽名稱:</label>
                                    <input type="text" class="form-control" id="contest_name" placeholder="name"
                                        name="contest_name" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">比賽說明</label>
                                    <input type="text" class="form-control" id="description" placeholder="description"
                                        name="description" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">比賽類型:</label>
                                    <select class="form-select" id="state">
                                        <option value="public">公開</option>
                                        <option value="private">私人</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">新增題目:</label>
                                    <div>
                                        <div id="questionContainer">
                                            <!-- 這裡會動態添加所選擇的題目 -->
                                        </div>
                                        <input href="#" class="btn btn-success" type="button" value="新增題目"
                                            data-bs-toggle="modal" data-bs-target="#loginModal"></span>
                                    </div>
                                </div>
                                
                                <!-- 跳出視窗內容 -->

                                <div class="modal fade" id="loginModal">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <!-- Header -->
                                            <div class="modal-header">
                                                <h3>題目列表</h3>
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"></button>
                                            </div>
                                            <!---->
                                            <div class="row mt-4">
                                                <div class="col-3">
                                                    <select class="form-select" id="state" onchange="location.href=this.options[this.selectedIndex].value">
                                                        <option selected>狀態</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge=*&difficulty={{difficulty}}&search={{search}}">
                                                            public</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge=*&difficulty={{difficulty}}&search={{search}}">
                                                            private</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <select class="form-select" id="onlinejudge"
                                                        onchange="location.href=this.options[this.selectedIndex].value">
                                                        <option selected>online judges</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge=*&difficulty={{difficulty}}&search={{search}}">
                                                            All</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge=ZeroJudge&difficulty={{difficulty}}&search={{search}}">
                                                            ZeroJudge</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge=LeetCode&difficulty={{difficulty}}&search={{search}}">
                                                            Leetcode</option>                                                        
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <select class="form-select" id="difficulty"
                                                        onchange="location.href=this.options[this.selectedIndex].value">
                                                        <option selected>難度</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty=*&search={{search}}">
                                                            All</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty=Hard&search={{search}}">
                                                            Hard</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty=Middle&search={{search}}">
                                                            Middle</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty=Easy&search={{search}}">
                                                            Easy</option>
                                                        <option
                                                            value="?page={{ page }}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty=N/A&search={{search}}">
                                                            N/A</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <form class="d-flex"
                                                        action="?page={{ page }}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty={{difficulty}}">
                                                        <input type="hidden" name="page" value="{{page}}">
                                                        <input type="hidden" name="state" value="{{state}}">
                                                        <input type="hidden" name="onlinejudge" value="{{onlinejudge}}">
                                                        <input type="hidden" name="difficulty" value="{{difficulty}}">
                                                        <input class="form-control me-2" name="search" placeholder="Search" aria-label="Search" id="search">
                                                    </form>
                                                </div>
                                            </div>
                                            <!---->

                                            <!-- Body -->
                                            <div class="modal-body">
                                                <form>
                                                    <!-- 題目列表的表格 -->
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">題目名稱</th>
                                                                <th scope="col">題目說明</th>
                                                                <th scope="col">難易度</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="contestTableBody">
                                                            <!-- 表格內容將在這裡使用javascript動態添加 -->
                                                        </tbody>
                                                    </table>
                                                    <!-- 分頁導航 -->
                                                    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                                                        <ul class="pagination" id="pagination">
                                                        <!-- 分頁按鈕將動態插入到這裡 -->
                                                        </ul>
                                                    </nav>
                                                </form>
                                            </div>
                                            <!-- Footer -->
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">語言:</label>
                                    <span class="value">
                                        <div class="checkbox-row">
                                            <input class="form-check-input" type="checkbox" id="python"
                                                name="programmingLanguages" value="Python">
                                            <label class="form-check-label" for="python">Python</label>
                                            <input class="form-check-input" type="checkbox" id="c"
                                                name="programmingLanguages" value="C">
                                            <label for="c">C</label>
                                            <input class="form-check-input" type="checkbox" id="cpp"
                                                name="programmingLanguages" value="C++">
                                            <label for="cpp">C++</label>
                                            <input class="form-check-input" type="checkbox" id="java"
                                                name="programmingLanguages" value="Java">
                                            <label for="java">Java</label>
                                        </div>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <span class="name">開始時間:</span>
                                    <span class="value">
                                        <input type="datetime-local" class="form-control" id="startTime"
                                            name="startTime" required>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <span class="name">結束時間:</span>
                                    <span class="value">
                                        <input type="datetime-local" class="form-control" id="endTime" name="endTime"
                                            required>
                                    </span>
                                </div>
                                <div class="mb-3">
                                    <span class="value">
                                        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
                                            value="create">創建比賽</button>
                                    </span>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
        function simplifyContent(content, maxLength) {
            if (content.length > maxLength) {
                return content.substring(0, maxLength) +
                    `<a href="#" class="more-link" data-content="${encodeURIComponent(content)}">...more</a>`;
            }
            return content;
        }

        // 加载并显示问题列表和分页控件
        function loadTable(page) {
            $.ajax({
                url: '/contest/get_problems',
                type: 'GET',
                data: {
                    page: page,
                    per_page: 10 // 每页显示10条数据
                },
                success: function (response) {
                    var contestTableBody = $("#contestTableBody");
                    contestTableBody.empty(); // 清空表格内容

                    // 添加表格内容
                    response.data.forEach(function (problem) {
                        var title = problem[0]; // 标题
                        var content = simplifyContent(problem[1], 100); // 描述内容，只取前100个字符
                        var difficulty = problem[2]; // 难度
                        var row = `<tr>
                                <td>${title}</td>
                                <td>${content}</td>
                                <td>${difficulty}</td>
                                <td><button class="btn btn-primary add-btn" type="button">Add</button></td>
                            </tr>`;
                        contestTableBody.append(row);
                    });

                    // 添加分页控件的代码部分
                    var pagination = $('#pagination');
                    pagination.empty(); // 清空现有的分页按钮

                    var total_pages = response.total_pages; // 总页数
                    var page = response.page; // 当前页码

                    var startPage = Math.max(page - 2, 1); // 计算起始页码，确保不会小于1
                    var endPage = Math.min(page + 2, total_pages); // 计算结束页码，确保不会大于总页数

                    // 添加跳转到第一页的按钮
                    pagination.append(`<li class="page-item ${page === 1 ? 'disabled' : ''}" data-page="1"><a class="page-link" href="#"><<</a></li>`);

                    // 生成分页按钮
                    for (let i = startPage; i <= endPage; i++) {
                        var activeClass = page === i ? 'active' : ''; // 当前页码按钮高亮
                        var pageItem = `<li class="page-item ${activeClass}" data-page="${i}"><a class="page-link" href="#">${i}</a></li>`;
                        pagination.append(pageItem);
                    }

                    // 添加跳转到最后一页的按钮
                    pagination.append(`<li class="page-item ${page === total_pages ? 'disabled' : ''}" data-page="${total_pages}"><a class="page-link" href="#">>></a></li>`);

                    // 绑定分页按钮的点击事件
                    $('.page-item').click(function(e){
                        e.preventDefault();
                        var selectedPage = $(this).data('page');
                        loadTable(selectedPage); // 使用选中的页码重新加载表格
                    });
                },
                error: function () {
                    alert('数据载入失败。');
                }
            });
        }

        // 添加点击事件来显示全部内容
        $('#contestTableBody').on('click', '.more-link', function (e) {
            e.preventDefault();
            var fullContent = decodeURIComponent($(this).data('content'));
            $(this).parent().html(fullContent); // 使用完整内容替换简化内容和more链接
        });

        // 初始化加载第一页数据
        loadTable(1);
        });
    </script>

</body>

</html>