<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>回饋紀錄</title>

    {% include "_site_header.html" %}
    <!-- Bootstrap CSS -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            width: 70%;
            margin: 0 auto;
            margin-top: 30px;
            font-size: 18px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <!-- ------- -->
    <!-- nav-bar -->
    <!-- ------- -->
    {% include "nav_bar.html" %}
    {{data}}

    <div class="container">
        {% if feedback_history %}
        <div class="table-responsive">
            <table class="table table-hover justify-content-center mt-4">
                <thead>
                    <tr>
                        <th>回饋內容</th>
                        <th>提交時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedback_history %}
                    <tr data-bs-toggle="modal" data-bs-target="#feedbackModal" style="cursor: pointer;"
                        onclick="showFeedback('{{ feedback[2] }}', '{{ feedback[3] }}','{{ feedback[4] }}')">
                        <td>{{ feedback[2] }}</td>
                        <td>{{ feedback[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>沒有回饋紀錄</p>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedbackModalLabel">回饋詳情</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>回饋內容:</strong> <span id="feedbackContent"></span></p>
                    <p><strong>提交時間:</strong> <span id="feedbackTime"></span></p>
                    <p><strong>回覆:</strong> <span id="feedbackReply"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showFeedback(content, time, reply) {
            // 將點擊的回饋詳情顯示在模態框中
            $('#feedbackContent').text(content);
            $('#feedbackTime').text(time);
            $('#feedbackReply').text(reply);
        }
    </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

</html>