<!DOCTYPE html>
<html lang="en">

<head>

    {% include "_site_header.html" %}
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .competition-box {
            background-color: #f2f2f2;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
            border-radius: 8px;
            display: flex;
        }

        .title {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .description {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .join-button {
            background-color: green;
            font-weight: bolder;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .competition-info {
            flex: 4;
        }

        .competition-details {
            flex: 2;
            padding-left: 150px;
        }

        .btn-purple {
            background-color: purple;
            font-weight: bolder;
            color: white;
        }
    </style>

</head>

<body>
    <!-- ------- -->
    <!-- nav-bar -->
    <!-- ------- -->
    {% include "nav_bar.html" %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-3">
                <select class="form-select" id="state" onchange="location.href=this.options[this.selectedIndex].value">
                    <option selected>設定</option>
                    <option
                        value="?page={{ page }}&state=public&onlinejudge=*&difficulty={{difficulty}}&search={{search}}">
                        公開</option>
                    <option
                        value="?page={{ page }}&state=private&onlinejudge=*&difficulty={{difficulty}}&search={{search}}">
                        私人</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" id="onlinejudge"
                    onchange="location.href=this.options[this.selectedIndex].value">
                    <option selected>語言</option>
                    <option
                        value="?page={{ page }}&state={{state}}&onlinejudge=*&difficulty={{difficulty}}&search={{search}}">
                        All</option>
                    <option
                        value="?page={{ page }}&state={{state}}&onlinejudge=ZeroJudge&difficulty={{difficulty}}&search={{search}}">
                        python</option>
                    <option
                        value="?page={{ page }}&state={{state}}&onlinejudge=LeetCode&difficulty={{difficulty}}&search={{search}}">
                        C</option>
                    <option
                        value="?page={{ page }}&state={{state}}&onlinejudge=LeetCode&difficulty={{difficulty}}&search={{search}}">
                        C++</option>
                    <option
                        value="?page={{ page }}&state={{state}}&onlinejudge=LeetCode&difficulty={{difficulty}}&search={{search}}">
                        python</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" id="state" onchange="location.href=this.options[this.selectedIndex].value">
                    <option selected>狀態</option>
                    <option value="?page={{ page }}&state=not_started&onlinejudge={{onlinejudge}}&search={{search}}">尚未開始</option>
                    <option value="?page={{ page }}&state=ongoing&onlinejudge={{onlinejudge}}&search={{search}}">進行中</option>
                    <option value="?page={{ page }}&state=finished&onlinejudge={{onlinejudge}}&search={{search}}">已結束</option>
                </select>
            </div>
            
            <div class="col-3">
                <form class="d-flex"
                    action="?page={{ page }}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty={{difficulty}}">
                    <input type="hidden" name="page" value="{{page}}">
                    <input type="hidden" name="state" value="{{state}}">
                    <input type="hidden" name="onlinejudge" value="{{onlinejudge}}">
                    <input type="hidden" name="difficulty" value="{{difficulty}}">
                    <input class="form-control me-2" name="search" placeholder="Search" aria-label="Search" id="search">
                </form>
            </div>
            
            {% if no_contest_message %}
                <div class="text-center mt-3">
                    <strong>{{ no_contest_message }}</strong>
                </div>
            {% endif %}
            
        </div>
        <!-- ------- -->
        <!-- 題目列表 -->
        <!-- ------- -->
        <div>
            {% for contest in contests %}
            <div class="competition-box">
                <div class="competition-info">
                    <div class="title">
                        {% if contest[5] == 'private' %}
                        <!-- 顯示黃色小鎖符號 -->
                        <span style="color: yellow;">🔒</span>
                        {% endif %}
                        {{ contest[1] }}
                    </div>
                    <div class="description">{{ contest[4] }}</div>
        
                    <!-- 顯示錯誤或成功訊息 -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-warning">
                            {{ messages[0] }}  <!-- 可以擴展以顯示多個訊息 -->
                        </div>
                        {% endif %}
                    {% endwith %}
        
                    <!-- 比賽列表的按鈕區域 -->
                    <form id="contestForm-{{ contest[0] }}" action="{{ url_for('contest_bp.join_contest') }}" method="POST">
                        <input type="hidden" name="contest_id" value="{{ contest[0] }}">
                        <input type="hidden" name="contest_type" value="{{ contest[5] }}">  <!-- 用於傳遞比賽類型 -->
                        <input type="hidden" id="passwordField-{{ contest[0] }}" name="contest_password" value="">   <!-- 密碼欄位 -->
                
                        {% if contest[2] > current_time %}
                        <button type="button" class="join-button btn" style="background-color: #8d8d8d; color: #000000;" disabled>尚未開始</button>
                        {% elif current_time > contest[3] %}
                        <button type="button" class="join-button btn" data-type="{{ contest[5] }}" style="background-color: #b60202; color: #FFFFFF;" onclick="handleContestClick('{{ contest[0] }}', '{{ contest[5] }}')">觀看比賽結果</button>
                        {% elif contest[6] == "joined" %}
                        <button type="button" class="join-button btn btn-purple" data-type="{{ contest[5] }}" onclick="handleContestClick('{{ contest[0] }}', '{{ contest[5] }}')">繼續完成比賽</button>
                        {% else %}
                        <button type="button" class="join-button btn" data-type="{{ contest[5] }}" onclick="handleContestClick('{{ contest[0] }}', '{{ contest[5] }}')">加入比賽</button>
                        {% endif %}
                    </form>
                </div>
                <div class="competition-details">
                    <p style="margin-bottom: 10px;">參加人數：{{ contest[7] }}</p>
                    <p style="margin-bottom: 10px;">開始時間：{{ contest[2] }}</p>
                    <p style="margin-bottom: 10px;">結束時間：{{ contest[3] }}</p>
                    <p style="color: red; margin-bottom: 0;"><strong>{{ contest[8] }}</strong></p>
                </div>
            </div>
        
            <!-- 密碼輸入的 Modal -->
            <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="passwordModalLabel">輸入比賽密碼</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="password" class="form-control" id="contestPassword" placeholder="請輸入比賽密碼">
                            <div id="passwordError" class="text-danger" style="display: none;">密碼輸入錯誤</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" onclick="submitPassword(window.currentContestId)">確認</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        

        <!-- 分頁按钮 -->
        <div class="d-flex justify-content-center mt-5">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 第一頁按钮 -->
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for p in range(1, total_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endfor %}
                    <!-- 最後一頁按钮 -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ total_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <!--{% include "footer.html" %}-->
</body>

<script>
    function handleContestClick(contestId, contestType) {
        window.currentContestId = contestId;
        if (contestType === 'private') {
            var passwordModal = new bootstrap.Modal(document.getElementById('passwordModal'), {});
            passwordModal.show();
        } else {
            // 这里假设您有一个函数可以处理公开比赛的加入逻辑
            joinPublicContest(contestId);
        }
    }

    function submitPassword() {
        const password = document.getElementById('contestPassword').value;

        $.ajax({
            type: "POST",
            url: "/contest/join",
            data: {
                contest_id: window.currentContestId,
                contest_password: password
            },
            success: function(response) {
                if(response.redirect_url){
                    window.location.href = response.redirect_url;
                }
            },
            error: function(xhr) {
                $("#passwordError").show();
            }
        });
    }

    function joinPublicContest(contestId) {
        $.ajax({
            type: "POST",
            url: "/contest/join",
            data: {
                contest_id: contestId
                // 注意：此处不需要密码字段
            },
            success: function(response) {
                if(response.redirect_url){
                    window.location.href = response.redirect_url;
                }
            },
            error: function(xhr) {
                // 展示错误信息
                console.error("Error joining public contest", xhr.responseText);
            }
        });
    }
</script>

</html>