<!DOCTYPE html>
<html lang="en">

<head>
    {% include "_site_header.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- Google第三方登入 -->
    <meta name="google-signin-client_id"
        content="570075629720-t8lnamkjs4kggo6dimruitguvs6usch8.apps.googleusercontent.com">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- ------- -->
    <!-- nav-bar -->
    <!-- ------- -->
    
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="mt-5 border border-3 rounded shadow-lg p-3 mb-5 bg-body rounded">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col">
                            <h1 class="d-flex justify-content-center">登入</h1>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <form action="/login" method="POST">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                                        aria-describedby="basic-addon1" name="Email" required>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Password"
                                        aria-label="Password" aria-describedby="basic-addon1" name="Password" required>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-10"><a href="./forget_password.html"
                                    class="link-dark d-flex justify-content-end">忘記密碼</a></div>
                            <div class="col-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <button class="w-100 mt-3 btn btn-primary">送出</button>
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <a class="w-100 mt-3 btn btn-outline-primary" href="./register" role="button">註冊</a>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <script src="../static/js/login.js"></script>
    </div>
</body>

</html>