<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1D4D9F;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../static/imgs/icon.svg" alt="" width="45" height="auto" class="d-inline-block align-text-top">
        <b class="code-font">CodeAlchemy</b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./">題目</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" >排行榜</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" onclick="togglePopup()">競賽</a>
            <div id="overlay" onclick="closePopup()"></div>
          </li>
        </ul>
        {% if (session['logged_in']==True) or (request.cookies.get('logged_in')=='True') %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                {{session['User_name'] or request.cookies.get('user_name')}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" style="max-width: 200px;">  <li><a class="dropdown-item" href="./user_data">個人資料</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="logout">登出</a></li>
              </ul>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./login">登入</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  <!-------------------------
  # Popup
  #------------------------->

  <div id="overlay"></div>

  <div id="popup">
      <div class="button-container">
          <button style="width: 45%; height: 50%;" type="button" class="btn btn-outline-primary">創建比賽</button>
          <button style="width: 45%; height: 50%;" type="button" class="btn btn-outline-primary">加入比賽</button>
      </div>
  </div>
  
  <script>
    function togglePopup() {
        var overlay = document.getElementById('overlay');
        var popup = document.getElementById('popup');
        overlay.style.display = 'block';
        popup.style.display = 'block';
    }

    function closePopup() {
        var overlay = document.getElementById('overlay');
        var popup = document.getElementById('popup');
        overlay.style.display = 'none';
        popup.style.display = 'none';
    }
</script>
