<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS -->
    <script>
        fetch('./_site_header.html')
            .then(response => response.text())
            .then(data => {
                // 插入到指定位置
                document.body.innerHTML = data + document.body.innerHTML;
            })
            .catch(error => console.error('Error fetching nav.html:', error));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</head>

<body>
    <script>
        fetch('./nav.html')
            .then(response => response.text())
            .then(data => {
                // 插入到指定位置
                document.body.innerHTML = data + document.body.innerHTML;
            })
            .catch(error => console.error('Error fetching nav.html:', error));
    </script>
    <div class="container-md">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <h1 class="display-6 mt-4">a001.哈囉</h1>
                    </div>
                    <!-- 收藏按鈕 -->
                    <div class="col-6 d-flex justify-content-center  align-items-center mx-auto">
                        <button class="Btn">
                            <span class="leftContainer">
                              <svg fill="white" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"></path></svg>
                              <span class="like">Like</span>
                            </span>
                            <span class="likeCount">
                              2,050
                            </span>
                          </button>
                    </div>

                    <div class="col-12">
                        <h3 class="mt-4 overflow-auto">學習所有程式語言的第一個練習題 請寫一個程式，可以讀入指定的字串，並且輸出指定的字串。
                            比如：輸入字串 "world", 則請輸出 "hello, world"</h3>
                    </div>
                    <div class="col-12">
                        <h5 class="mt-4 overflow-auto">範例1</h5>
                        <div class="border-start border-4">
                            <h6 class="ms-2 mt-4 overflow-auto">輸入</h6>
                            <h6 class="ms-2 mt-4 overflow-auto code-font">world</h6>
                            <h5 class="ms-2 mt-4 overflow-auto">輸出</h5>
                            <h6 class="ms-2 mt-4 overflow-auto code-font">hello, world</h6>
                        </div>
                        <h5 class="mt-4 overflow-auto">範例2</h5>
                        <div class="border-start border-4">
                            <h6 class="ms-2 mt-4 overflow-auto">輸入</h6>
                            <h6 class="ms-2 mt-4 overflow-auto code-font">world</h6>
                            <h5 class="ms-2 mt-4 overflow-auto">輸出</h5>
                            <h6 class="ms-2 mt-4 overflow-auto code-font">hello, world</h6>
                        </div>
                        <h5 class="mt-4 overflow-auto">範例3</h5>
                        <div class="border-start border-4">
                            <h6 class="ms-2 mt-4 overflow-auto">輸入</h6>
                            <h6 class="ms-2 mt-4 overflow-auto code-font">world</h6>
                            <h5 class="ms-2 mt-4 overflow-auto">輸出</h5>
                            <h6 class="ms-2 mt-4 overflow-auto code-font">hello, world</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <pre>
                This text has
                been formatted using
                the HTML pre tag. The brower should
                display all white space
                as it was entered.
              </pre>
            </div>
        </div>

    </div>
</body>

</html>