<!DOCTYPE html>
<html lang="en">

<head>
    {% include "_site_header.html" %}
    <!-- Google Code Prettify -->
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <!-- Codemirror -->
    <script src="../static/lib/codemirror/lib/codemirror.js"></script>
    <link href="../static/lib/codemirror/lib/codemirror.css" rel="stylesheet">
    <!-- Python -->
    <script src="../static/lib/codemirror/mode/python/python.js"></script>
    <!-- Java -->
    <script src="../static/lib/codemirror/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="../static/lib/codemirror/addon/hint/show-hint.css">
    <script src="../static/lib/codemirror/addon/hint/show-hint.js"></script>
    <!-- LATAX -->
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                ignoreHtmlClass: 'tex2jax_ignore',
                processHtmlClass: 'tex2jax_process'
            }
        };


    </script>

    <title>{{data[0][0]}} - {{data[0][1]}}</title>


    <script src="static/js/like_button.js" defer></script>
</head>

<body>
    <!-- ------- -->
    <!-- nav-bar -->
    <!-- ------- -->
    {% include "nav_bar.html" %}
    <!-- html container -->
    <div class="container-md">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <div id="problem_id" style="display: none;">{{data[0][0]}}</div>
                        <h1 class="display-6 mt-4">{{data[0][0]}}<br>{{data[0][1]}}</h1>

                    </div>
                    <!-- 收藏按鈕 -->
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <button class="Btn">
                            <span class="leftContainer">
                                <svg fill="white" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z">
                                    </path>
                                </svg>
                                <span class="like">Like</span>
                            </span>
                            <span class="likeCount">
                                {{like}}
                            </span>
                        </button>
                    </div>
                    {% if source=='main' %}
                    <!-- 分頁 -->
                    <div class="nav nav-tabs nav-justified">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#menu1"
                            aria-selected="true">題目</button>
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#menu2"
                            aria-selected="false">解題影片</button>
                    </div>
                    {% endif %}
                    <div class="tab-content">
                        <!-- 題目 -->
                        <div class="tab-pane fade show active" id="menu1">
                            <div class="col-12">
                                <h3 class="mt-4">題目說明:<br></h3>
                                <h4 class="mt-4 overflow-auto">{{data.0.2|safe}}</h4>
                                <h3 class="mt-4">輸入說明:<br></h3>
                                <h4 class="mt-4 overflow-auto">{{data.0.3|safe}}</h4>
                                <h3 class="mt-4">輸出說明:<br></h3>
                                <h4 class="mt-4 overflow-auto">{{data.0.4|safe}}</h4>
                            </div>
                            {% for n in range(example_inputs|length) %}
                            <h5 class="mt-4 overflow-auto">範例{{n+1}}</h5>
                            <div class="border-start border-4">
                                <h6 class="ms-2 mt-4 overflow-auto">輸入</h6>
                                <h6 class="ms-2 mt-4 overflow-auto code-font">{{ example_inputs[n]|safe }}</h6>
                                <h5 class="ms-2 mt-4 overflow-auto">輸出</h5>
                                <h6 class="ms-2 mt-4 overflow-auto code-font">{{ example_outputs[n]|safe }}</h6>
                            </div>
                            {%endfor%}
                        </div>
                        {% if source=='main' %}
                        <!-- 教學影片 -->
                        <div class="tab-pane fade" id="menu2">
                            <div class="col-12">
                                {% if video_id == None %}
                                <h3 class="justify-content-center">本題暫時沒有解題影片</h3>
                                {% else %}
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video_id}}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <div class="btn-group">
                            <button id="languageButton" type="button" class="btn btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-code-square" viewBox="0 0 16 16">
                                    <path
                                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                    <path
                                        d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0m2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 1 0-.708l-3-3a.5.5 0 0 0-.708 0" />
                                </svg>
                                語言
                            </button>
                            <ul class="dropdown-menu" id="select_language_button">
                                <li><a class="dropdown-item" data-mode="python"
                                        onclick="setLanguage('Python')">Python</a></li>
                                <li><a class="dropdown-item" data-mode="text/x-csrc" onclick="setLanguage('C')">C</a>
                                </li>
                                <li><a class="dropdown-item" data-mode="text/x-c++src"
                                        onclick="setLanguage('C++')">C++</a></li>
                                <li><a class="dropdown-item" data-mode="text/x-java"
                                        onclick="setLanguage('Java')">Java</a></li>
                            </ul>
                            <script>
                                function setLanguage(language) {
                                    // 取得按鈕元素
                                    var languageButton = document.getElementById('languageButton');
                                    // 更新按鈕的顯示文字
                                    languageButton.innerHTML = `
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-code-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                            <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0m2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 1 0-.708l-3-3a.5.5 0 0 0-.708 0" />
                                        </svg>
                                        ${language}
                                    `;
                                }
                            </script>
                        </div>
                        <button type="button" class="btn btn-outline-primary" id="test_btn" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-code-slash" viewBox="0 0 16 16">
                                <path
                                    d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0" />
                            </svg>測試</button>
                        <!-- Modal -->
                        <!-- 正常上傳 -->
                        <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loadingModalLabel">測試中</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex align-items-center">
                                            <strong>Loading...</strong>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            id="stop_btn">隱藏</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 沒登入 -->
                        <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loginModalLabel">請先登入</h5>
                                    </div>
                                    <div class="modal-body">
                                        您尚未登入，請先登入才能繼續操作。
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">關閉</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-success" id="upload_btn" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                <path
                                    d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>上傳</button>
                    </div>
                    {% if source=='main' %}
                    <p></p>
                    <div class="row d-flex justify-content-center"><a href="/dolos?problem_id={{data[0][0]}}"
                            class="btn btn-primary" role="button" aria-disabled="true"
                            id="analyze_code_btn">程式碼相似度分析</a></div>

                    <p></p>
                    <div class="row d-flex justify-content-center"><a href="/code_analyse?problem_id={{data[0][0]}}"
                            class="btn btn-primary w-60" role="button" aria-disabled="true"
                            id="analyze_code_btn">程式碼效能分析</a></div>

                    <p></p>
                    <div class="row d-flex justify-content-center"><a href='./answer_record?problem_id={{data[0][0]}}'
                            class="btn btn-primary w-60" role="button" aria-disabled="true">作答情況</a></div>

                    {% endif %}
                    <!-- 程式輸入框 -->
                    <div class="row border border-3 round rounded-2 mt-5">
                        <textarea id="editor" name="editor">
</textarea>
                    </div>
                    <div id="result_container">
                        <div id="passed" class="mt-5 bg-success p-3 text-white rounded" style="display: none;">
                            <h4 id="passed_status"></h4>
                            <p id="passed_run_time"></p>
                            <p id="passed_memory"></p>
                        </div>
                        <div id="failed" class="mt-5 bg-danger p-3 text-white rounded" style="display: none;">
                            <h4 id="failed_status"></h4>
                            <p id="failed_error_reason"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Language Selection Modal -->
    <div class="modal fade" id="languageSelectionModal" tabindex="-1" aria-labelledby="languageSelectionLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="languageSelectionLabel">選擇語言類型</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="languageSelect" class="form-select">
                        <option value="py">Python</option>
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmLanguageBtn">確認</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- codemirror+測試+上傳的js -->
    <script src="../static/js/codemirro.js"></script>
    <!-- 進度條動畫 -->
    <!-- <script src="../static/js/progress.js"></script> -->

    <script>
        document.getElementById("analyze_code_btn").addEventListener("click", function (e) {
            e.preventDefault();
            var languageSelectionModal = new bootstrap.Modal(document.getElementById('languageSelectionModal'));
            languageSelectionModal.show();
        });

        document.getElementById("confirmLanguageBtn").addEventListener("click", function () {
            var selectedLanguage = document.getElementById("languageSelect").value;
            var problemId = document.getElementById("problem_id").textContent;
            // console.log(selectedLanguage)
            window.location.href = "/dolos?problem_id=" + problemId + "&language=" + selectedLanguage;
        });
    </script>
</body>

</html>