<!DOCTYPE html>
<html lang="en">

<head>

    {% include "_site_header.html" %}
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- ------- -->
    <!-- nav-bar -->
    <!-- ------- -->
    {% include "nav_bar.html" %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-3">
                <select class="form-select" id="state" onchange="location.href=this.options[this.selectedIndex].value">
                    <option selected>狀態</option>
                    <option
                        value="?page={{ page }}&state=*&onlinejudge={{ onlinejudge }}&difficulty={{ difficulty }}&search={{ search }}">
                        All
                    </option>
                    <option
                        value="?page={{ page }}&state=accept&onlinejudge={{ onlinejudge }}&difficulty={{ difficulty }}&search={{ search }}">
                        通過
                    </option>
                    <option
                        value="?page={{ page }}&state=error&onlinejudge={{ onlinejudge }}&difficulty={{ difficulty }}&search={{ search }}">
                        錯誤
                    </option>
                    <option
                        value="?page={{ page }}&state=none&onlinejudge={{ onlinejudge }}&difficulty={{ difficulty }}&search={{ search }}">
                        未做
                    </option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" id="onlinejudge"
                    onchange="location.href=this.options[this.selectedIndex].value">
                    <option selected>OnlineJudge</option>
                    <option
                        value="?page=1&state={{ state }}&onlinejudge=*&difficulty={{ difficulty }}&search={{ search }}">
                        All
                    </option>
                    <option
                        value="?page=1&state={{ state }}&onlinejudge=ZJ&difficulty={{ difficulty }}&search={{ search }}">
                        ZeroJudge
                    </option>
                    <option
                        value="?page=1&state={{ state }}&onlinejudge=TIOJ&difficulty={{ difficulty }}&search={{ search }}">
                        TIOJ
                    </option>
                    <option
                        value="?page=1&state={{ state }}&onlinejudge=LeetCode&difficulty={{ difficulty }}&search={{ search }}">
                        LeetCode
                    </option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" id="difficulty"
                    onchange="location.href=this.options[this.selectedIndex].value">
                    <option selected>難度</option>
                    <option
                        value="?page={{ page }}&state={{ state }}&onlinejudge={{ onlinejudge }}&difficulty=*&search={{ search }}">
                        All
                    </option>
                    <option
                        value="?page={{ page }}&state={{ state }}&onlinejudge={{ onlinejudge }}&difficulty=Hard&search={{ search }}">
                        Hard
                    </option>
                    <option
                        value="?page={{ page }}&state={{ state }}&onlinejudge={{ onlinejudge }}&difficulty=Normal&search={{ search }}">
                        Middle
                    </option>
                    <option
                        value="?page={{ page }}&state={{ state }}&onlinejudge={{ onlinejudge }}&difficulty=Easy&search={{ search }}">
                        Easy
                    </option>
                </select>
            </div>
            <div class="col-3">
                <form class="d-flex" action="" method="get">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="state" value="{{ state }}">
                    <input type="hidden" name="onlinejudge" value="{{ onlinejudge }}">
                    <input type="hidden" name="difficulty" value="{{ difficulty }}">
                    <input class="form-control me-2" name="search" placeholder="Search" aria-label="Search" id="search" value="{{ search }}">
                </form>
            </div>
        </div>
        <!-- ------- -->
        <!-- 題目列表 -->
        <!-- ------- -->
        <div class="table-responsive">
            <table id="problem_list" class="table table-hover justify-content-center mt-4">
                <thead>
                    <tr>
                        <td>通過</td>
                        <td>OJ</td>
                        <td>編號</td>
                        <td>名稱</td>
                        <td>難度</td>
                        <td>標籤</td>
                        <td>通過率</td>
                        <td>上傳日期</td>
                        {% if (session['Permission']=='Manager') %}
                        <td>修改</td>
                        <td>刪除</td>
                        {% else %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr onclick="window.location='./problem?problem_id={{item[0]}}'">
                        <td class="text-success">
                            {% if item['passed'] %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                            </svg>
                            {% endif %}
                        </td>
                        <td>
                            {% if item[0].split('-')[0] == 'ZJ' %}
                            Zero<br>Judge
                            {% elif item[0].split('-')[0] == 'TIOJ' %}
                            TIOJ
                            {% endif %}
                        </td>
                        <td>{{ item[0] }}</td> <!--編號-->
                        <td>{{ item[1] }}</td> <!--名稱-->
                        <td>{{ item[7] }}</td> <!--難度-->
                        <td>{{ item[8] }}</td> <!--標籤-->
                        <td>
                            {% if item[10] != 0 %}
                            {{ '%.2f' % (item[9] / item[10] * 100) }}%
                            {% else %}
                            0%
                            {% endif %}
                        </td>
                        <td>{{ item[11].strftime('%Y-%m-%d') }}</td>
                        {% if (session['Permission']=='Manager') %}
                        <!-- 修改 -->
                        <td><a class="btn btn-success" href="/manager/problem?problem_id={{item[0]}}" role="button"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg></a></td>
                        <!-- 刪除 -->
                        <td><a class="btn btn-danger" href="#" role="button"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg></a></td>
                        {% else %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 題目列表分頁 -->
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page > 1 %}
                    <li class="page-item"><a class="page-link"
                            href="?page=1&state={{state}}&onlinejudge={{onlinejudge}}&difficulty={{difficulty}}&search={{search}}">第一頁</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">第一頁</span></li>
                    {% endif %}
                    {% for p in range(start_page, end_page) %}
                    {% if p == page %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ p }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{p}}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty={{difficulty}}&search={{search}}">{{
                            p }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page < end_page-1 %} <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link"
                                href="?page={{page+1}}&state={{state}}&onlinejudge={{onlinejudge}}&difficulty={{difficulty}}&search={{search}}">下一頁</a>
                        </li>
                        {%else%}
                        <li class="page-item disabled"><span class="page-link">下一頁</span></li>
                        {%endif%}
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>