<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .circle-img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 0.5px solid black; /* 添加黑色外框 */
            object-fit: cover;  /* 確保圖片不變形 */
        }
    </style>
    {% include "_site_header.html" %}
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- ------- -->
    <!-- nav-bar -->
    <!-- ------- -->
    {% include "nav_bar.html" %}
    <div class="container">
        <!-- ------- -->
        <!-- 作答紀錄列表 -->
        <!-- ------- -->
        <div class="table-responsive">
            <table id="problem_list" class="table table-hover justify-content-center mt-4">
                <thead>
                    <tr>
                        <td>名次</td>
                        <td>用戶名稱</td>
                        <td>正確答題數</td>
                        <td>正確率</td>
                        <td>平均執行時間</td>
                        <td>平均使用記憶體</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{% if item[2] is none %}
                            <img src="./static/user_icon/default.jpg" class="circle-img">
                        {% else %}
                            <img src="{{ item[2] }}" class="circle-img">
                        {% endif %}
                        {{ item[1] }}
                        </td>
                        <td>{{ item[3] }}</td> 
                        <td>{{ item[4] }}</td> 
                        <td>{{ item[5] }} ms</td> 
                        <td>{{ item[6] }} MB</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>