<!DOCTYPE html>
<html lang="en">

<head>

    {% include "_site_header.html" %}
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- ------- -->
    <!-- nav-bar -->
    <!-- ------- -->
    {% include "nav_bar.html" %}
    {{data}}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row mt-4">
                            <h1 class="d-flex justify-content-center">變更成功！</h1>
                            <p>個人資料變更成功。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>